<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <h2>Peliculas Nuevas</h2>
    </ion-row>
  </ion-grid>
  <app-slider-backdro [peliculas]="peliculasRecientes"></app-slider-backdro>

  <ion-grid fixed>
    <ion-row>
      <h2>Cartelera</h2>
    </ion-row>
  </ion-grid>
  <app-slider-poster [peliculas]="peliculasCartelera"></app-slider-poster>

  <ion-grid fixed>
    <ion-row>
      <h2>Populares</h2>
    </ion-row>
  </ion-grid>
  <app-slider-poster (cargarMas)="cargarMasPelis()" [infinito]="true" [peliculas]="peliculasPopulares"></app-slider-poster>

</ion-content>
